.floater {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.list {
    display: flex;
    flex-direction: column;

}

.item {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}