<link rel="stylesheet" type="text/css" href="login.component.css">
<span class="floater">
    <game-well>
        <div class="list">
            <span class="item">
                <label for="username">Username:</label>
                <input
                    type="text"
                    id="username"
                    [(ngModel)]="usernameField"
                >
            </span>
            <span class="item">
                <label for="password">Password:</label>
                <input
                    type="password"
                    id="password"
                    [(ngModel)]="passwordField"
                >
            </span>
            <span
                *ngIf="isRegistering"
                class="item"
            >
                <label for="passwordconfirm">Confirm:</label>
                <input
                    type="password"
                    id="passwordconfirm"
                    [(ngModel)]="confirmField"
                >
            </span>
            <div class="buttons">
                <button (click)="tryLogin()">Login</button>
                <button (click)="clickRegister()">Register</button>
            </div>
        </div>
        <span>{{errorField}}</span>
    </game-well>
</span>
